@import "src/styles/components/_header.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #57A4A4;
}
.main__img {
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}