footer {
  color: #B9B9B9;
  background-color: black;
  height: 315px;
}
.footer__title {
  color: #fefefe;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 22px;
}
.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  width: 303px;
  height: 52px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 26px;
    @media (min-width: $tablet-bp) {
      width: 684px;
      height: 44px;
      font-size: 16px;
    }
}
.footer__media{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.footer__media-item {
  border-radius: 30px;
  width: 34px;
  height: 34px;
  text-align: center;
  &:nth-child(1){
    border: 2px solid #F8902E;
  }
  &:nth-child(2){
    border: 2px solid #39599F;
  }
  &:nth-child(3){
    border: 2px solid #45B0E3;
  }
  &:nth-child(4){
      border: 2px solid #D97AB0;
    }
  &:nth-child(5){
    border: 2px solid #CC212C;
  }
    img {
      margin-top: 10px;
    }
}
.footer__contacts {
  width: 235px;
  height: 63px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 25px;
    @media (min-width: $tablet-bp) {
      width: 613px;
      height: 26px;
      font-size: 16px;
      margin-top: 34px;
    }
}
