html {
    box-sizing: border-box;
    width: 100%;
    height: 2000px;
    margin: 0 auto;
}
body {
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1366px;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo {
    width: 157px;
    height: 22px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    margin-left: 79px;
    margin-top: 0;
    padding-top: 0;
}
.logo a {
    text-decoration: none;
    color: #FFFFFF;
}
.logo :hover {
    color: #3CB878;
}
.block2 {
    margin-top: 18px;
    margin-bottom: 18px;
    display: flex;
}
.header_icon{
    display: flex;
}
.header_icon_item {
    padding-right: 27px;
    fill: #FFFFFF;
}
.header_icon_item :hover {
    fill: #3CB878;
}
.line {
    width: 1px;
    height: 19px;
    border: 1px solid white;
    margin-right: 27px;
}
.text {
    margin-right: 7px;
    padding-top: 7px;

    font-weight: lighter;
    font-size: 14px;
    line-height: 14px;
}
.log_in {
    margin-right: 7px;
    padding-top: 7px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 14px;
    line-height: 14px;
}
.log_in:hover {
    color: #3CB878;
}
.sign_up:hover {
    color: #3CB878;
}
.sign_up {
    margin-right: 79px;
    padding-top: 7px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 14px;
    line-height: 14px;
}
.form {
    width: 444px;
    height: 584px;
    margin: 54px 461px 74px;
    align-items: center;
    text-align: center;


    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.form_block1 {
    display: flex;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 25px;
}
.form_text {
    margin-left: 43px;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form_link_a{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.form_link_a:hover {
    text-decoration: underline;
}
.form_link {
    margin-left: 212px;
    margin-right: 57px;
}
.green_square {
    width: 18px;
    height: 18px;

    background: #3CB878;
}
.form_block2 {
    margin-right: 60px;
    margin-left: 60px;
    padding: 0;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.Fb_G {
    weight: 324px;
    display: flex;
    margin-bottom: 20px;
}
.Fb {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #305DB8;
    border-radius: 4px;
}
.Fb_logo {
    margin-left: 17px;
}
.Fb_line {
    width: 1px;
    height: 28px;

    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.Fb_text {
    text-decoration: none;
    padding-right: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.Fbhover :hover {
    background: #022263;
}
.G {
    width: 160px;
    height: 48px;
    margin-left: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #DF4A32;
    border-radius: 4px;
}
.G_logo {
    margin-left: 10px;
}
.G_text {
    text-decoration: none;
    padding-left: 22px;
    padding-right: 27px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.Ghover :hover {
    background: #AB1F09;
}
.br {
    max-width: 324px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.br_text {
    color: #848484;
}
.br_line {
    width: 146px;

    border: 1px solid #F2F2F2;
}
.registration {
    display: flex;
    flex-direction: column;
}
.registration_item {
    margin-bottom: 15px;
}
.registration_item :hover{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;
}
.registration_form {
    width: 324px;
    height: 44px;
    color: #BEBEBE;

    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.registration_checkbox {
    text-align: left;
    color: #434343;
}
.form_checkbox {
    text-decoration: none;
    color: #3CB878CC;
}
.form_checkbox:hover{
    text-decoration: underline;
}
.button {
    width: 324px;
    height: 46px;
    margin-top: 14px;
    text-align: center;

    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: #FFFFFF;
}
.form_button :hover {
    background: #01813F;
    border-radius: 4px;
}