html {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("../image/Layer.png");
    background-repeat: no-repeat;
    background-size: 100% 1020px;
    color: #FFFFFF99;
    /*width: 1920px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Monsrrat', sans-serif;
}
header {
 width: 1920px;
}
.header_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 270px;
    padding-right: 270px;
    background: rgba(94, 93, 88, 0.6);
}
.header_navbar_menu {
    width: 520px;
    margin-left: 305px;
    height: 120px;
}
.navbar {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    padding-top: 33px;
}
.navbar_item {
    height: 100%;
    padding-left: 21px;
}
.navbar_item a {
    text-decoration: none;
    color: #FFFFFF99;
    font-size: 16px;
    height: 120px;
}
.navbar_item a:hover {
    border-bottom: solid #18CFAB;
    color: #18CFAB;
}
/*main {*/
/*    width: 1120px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/
.fix_min_width {
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.fix_max_width {
    width: 1910px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.main_block_one {
    text-transform: uppercase;
    align-items: center;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 264px;
}
.main_block_one div{
    text-align: center;
    color: #FFFFFF;
}
.main_block_one  h1{
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 78px
}
.main_block_one  h2{
    margin: 0;
    font-size: 35px;
}
.main_block_one span {
    color: #18CFAB;
}
.content {
    margin: 0;
    font-size: 30px;
    color: #D4D4D4;
}
.button_box {
    margin-top: 134px;
    margin-bottom: 160px;
}
.btn {
    cursor: pointer ;
    width: 168px;
    height: 63px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-top: solid white 5px;
    margin-bottom: 70px;
}
.btn_one {
    background-color: #18CFAB;
}
.btn_two {
    background-color: #00CBF6;
}
.main_block_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
}
.block_items {
    padding-top: 95px;
    width: 482px;
    height: 282px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
.green {
    color: #FFFFFF;
    padding-top: 95px;
    background-color: #18CFAB;
}
.black {
    color: #18CFAB;
    background-color: #1C2A33;
}
.title_green {
    padding-top: 47px;
}
.title_white {
    padding-top: 58px;
}
ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
}
.main_block_three {
    position: relative;
}
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block_title {
    color: #4E4E4E;
    font-size: 36px;
    font-weight: 200;
    margin: 0;
    padding-top: 83px;
    padding-bottom: 50px;
    line-height: 40px;
    text-align: center;
}
.block_title::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 80px;
    background-color: #18CFAB;
    top: 130px;
    right: 530px;
}
.block_title::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 80px;
    background-color: #18CFAB;
    right: 500px;
    top: 135px;
}
/*.pseudo_elem {*/
/*    height: 20px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    width: 90px;*/
/*}*/
/*h3::after {*/
/*    content: '';*/
/*    color: #18CFAB;*/
/*    width: 75.54px;*/
/*    height: 1px;*/
/*}*/
.tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tabs-title {
    cursor: pointer;
    margin: 0;
    padding: 25px 43px ;
    background-color: #EDEFEF;
    color: #717171;
}
.tabs-title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}
.tabs-title:hover {
    border: 1.5px solid #18CFAB;
}
.tabs_categories_item {
    margin-bottom: 30px;
}
.border {
    border: 2px solid #18CFAB;
}
.tabs-content-item {
    display: none;
}
.tabs-content-item.active {
    display: block;
    color: #717171;
}
.tabs-text {
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    width: 952px;
    height: 136px;
    padding-left: 30px;
}
.tabs-content-items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image_item {
    cursor: pointer;
    width: 192px;
    height: 139px;
}
.image_item::hover {
    background-color: #FFFFFF;
}
.main_block_four {
    background-image: url("../image/section4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 1020px;
    width: 1920px;
    height: 476px;
    text-align: center;
    padding-top: 130px;
}
h2 {
    font-size: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}
.main_block_four_content{
    font-size: 16px;
    color: #D8D8D8;
    margin-bottom: 83px;
}
.image_box {
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
}
.main_block_four {
    background-color: #E9EDEF;
}
.background {
    margin: 0;
    background-color: #E9EDEF;
}
 .image_changer_item {
     width: 285px;
     height: 211px;
 }
.tabs_categories {
    width: 582px;
    height: 50px;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    color: #717171;
    text-align: center;
}
.tabs_categories_item {
    height: 38px;
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 20px;
    border: 1px solid #DADADA;
    font-size: 14px;
}
.tabs_categories_item:hover {
    border: 1.5px solid #18CFAB;
}
.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes a1{
    to {
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}
.two_image_box {
    display: none;
}
.active_image_box {
    display: block;
}

/*.lds-ring {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*}*/
/*.lds-ring div {*/
/*    box-sizing: border-box;*/
/*    display: block;*/
/*    position: absolute;*/
/*    width: 64px;*/
/*    height: 64px;*/
/*    margin: 8px;*/
/*    border: 8px solid #18CFAB;*/
/*    border-radius: 50%;*/
/*    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;*/
/*    border-color: #18CFAB transparent transparent transparent;*/
/*}*/
/*.lds-ring div:nth-child(1) {*/
/*    animation-delay: -0.45s;*/
/*}*/
/*.lds-ring div:nth-child(2) {*/
/*    animation-delay: -0.3s;*/
/*}*/
/*.lds-ring div:nth-child(3) {*/
/*    animation-delay: -0.15s;*/
/*}*/
/*@keyframes lds-ring {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/
.hidden{
    display: none;
}








.btn_three {
    text-align: center;
    margin-top: 85px;
    background-color: #18CFAB;
    margin-left: 500px;
}

.image_link_box {
    display: grid;
    grid-template-columns: 263px 263px 263px 263px;
    grid-gap: 35px ;
    position: relative;
    margin-bottom: 70px;
}
.image_link_box_item::before{
    content: "12 Feb";
    font-size: 23px;
    text-align: center;
    display: block;
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #203E38;
}
.image_link_box_item:hover {
    color: #18CFAB;
}
.image_link_box_item_title {
    font-weight: 700;
    font-size: 18px;
    color: #717171;
    padding-left: 10px;
    margin-bottom: 5px;
}
.image_link_box_item_title:hover{
    color: #18CFAB;
}
.image_link_box_item_comment {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    padding-left: 12px;
    padding-right: 15px;
}
.line {
    border-right: 1px solid #777777;
}
.main_block_people{
    background-image: url("../image/Layer 333.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.white {
    color: #FFFFFF;
}
.image_container {
    align-items: center;
    border-radius: 50%;
    border: 3px solid #1FDAB5;
    width: 143px;
    height: 142px;
    background-size: cover;
    margin-bottom: 70px;
    margin-top: 40px;
}
.main_block_people_text{
    color: #BBBBBB;
    width: 1160px;
    height: 45px;
    font-weight: 100;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.pseudo {
    color: #18CFAB;
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.slider_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    margin-bottom: 70px;
}
.btn_slider {
    width: 33px;
    height: 34px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}
.btn_slider:hover {
    background-color: #18CFAB;
}
.mini_foto {
    width: 60px;
    height: 59px;
    border: 3px solid #1FDAB5;
    border-radius: 50%;
}
.footer_box {
    margin: 0;
    background-color: #22353F;
}
.footer_text {
    text-align: center;
   color:  #AEAEAE;
}
.footer_span {
    color: #18CFAB;
}











