@import 'src/styles/scss/abstracts/_variables.scss';
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  background-image: url("../img/bg/img.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1200px;
  min-width: 320px;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  @media (min-width: $desktop-bp) {
  background-size: 100%;
  }
}
section {
  padding-left: 10px;
  padding-right: 10px;
}

@import 'scss/components/header';
@import 'scss/components/btn';
@import 'scss/components/menu';
@import 'scss/components/hero-section';
@import 'scss/components/editor-section';
@import 'scss/components/here-is-what-you-get-section';
@import 'scss/components/talking-about-fork-section';
@import 'scss/components/pricing-section';
//@import 'scss/components/main';
//@import 'scss/components/footer';
