html {
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
}
body {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    color: gold;
    text-align: center;
    background-color: black;
    font-weight: bold;
    font-size: 30px;
    perspective: 500px;
}
.wrapper {
    width: 800px;
    transform:  scale3d(1, 1, 2) rotateX(25deg);
    overflow: hidden;
}
.text_box {
   position: relative;
    bottom: -300px;

}
.anim1 {
   margin: 0;
    padding: 0;
    animation: one 30s  2s linear infinite;
}
.anim2 {
    animation: two 30s  2s linear infinite;
}
@keyframes one  {
    0% {
margin-bottom: 0px;
    }
    100%{
margin-bottom: 1800px;
    }
}
@keyframes two {
    0% {
        bottom: -300px;
    }
    100%{
        margin-bottom: 2000px;
    }
}
