@import 'src/styles/scss/abstracts/_variables.scss';

.btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  background-color: $main-color;
  border-radius: 40px;
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
    background-color: #f4f4f4;
    color: $main-color;
  }
  @media (min-width: $tablet-bp) {
    font-size: 16px;
    line-height: 16px;
  }
  @media (min-width: $desktop-bp) {
    font-size: 16px;
    line-height: 17px;
  }
}

.btn--small {
  width: 119px;
  height: 37px;

}

.btn--big {
  width: 290px;
  height: 45px;
}
.header__btn {
  @media (min-width: $tablet-bp) {
    display: grid;
    grid-area: btn;
    margin: 20px;
    padding-top: 7px;
  }
  @media (min-width: $desktop-bp) {

  }
}

.pricing_item-btn {
  background-color: rgb(255,255,255, 0.15);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 40px;
  color: #FFFFFF;
  width: 163px;
  margin-top: 40px;
  @media (min-width: $tablet-bp) {
    font-size: 2vw;
    width: 20vw;
    margin-top: 0;
  }
  @media (min-width: $desktop-bp) {
    font-size: 18px;
    width: 15vw;
    height: 5vw;
  }
}

.pricing_item-btn--big {
  background-color: rgb(255,255,255, 0.15);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  border-radius: 40px;
  color: #FFFFFF;
  width: 190px;
  height: 52px;
  margin-top: 83px;
  @media (min-width: $tablet-bp) {
    font-size: 2vw;
    width: 20vw;
    height: 7vw;
    margin-top: 0;
  }
  @media (min-width: $desktop-bp) {
    font-size: 18px;
    width: 15vw;
    height: 5vw;
  }
}