.editor {
  @media (min-width: $desktop-bp) {
    padding-bottom: 70px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.editor__btn {
  margin: 386px auto 12px auto;
  @media (min-width: $desktop-bp) {
    margin-top: 345px;
  }
}

.editor__title {
  display: block;
  font-weight: 700;
  font-size: 8vw;
  line-height: 7vw;
  color: #635C73;
  text-transform: uppercase;
  width: 273px;
  height: 46px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $tablet-bp) {
    width: 80%;
    font-size: 6vw;
    line-height: 6vw;
  }
  @media (min-width: $desktop-bp) {
  font-size: 4.5vw;
  line-height: 6vw;
}

}

.editor__text {
  padding-top: 27px;
  width: 276px;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $tablet-bp) {
    width: 90%;
    font-size: 3vw;
    line-height: 5vw;
  }
  @media (min-width: $desktop-bp) {
    font-size: 2.5vw;
  }
}