@import 'src/styles/scss/abstracts/_variables.scss';

.header {
  width: 100%;
  height: 103px;
  background-color: #27262A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  @media (min-width: $tablet-bp) {
    height: 118px;

    display: grid;
    grid-template-areas: "logo . btn"
                         "nav nav nav";
  }
  @media (min-width: $desktop-bp) {
      width: 100%;
    background-color: transparent;
    position: static;
    height: 140px;
    grid-template-areas: "logo . . nav btn";
  }
}

.header__logo {
  padding-left: 7vw;
  text-transform: uppercase;
  @media (min-width: $tablet-bp) {
    grid-area: logo;
  }
  @media (min-width: $desktop-bp) {

  }
}
.header__logo-link {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    padding-left: 1.5vw;
  }
}
.header__logo-link :hover {
  color: #F4F4F4;
}

.header__logo-title {
  display: none;
  color: $main-color;
  text-decoration: none;
  @media (min-width: $tablet-bp) {
    display: flex;
  }
}

.header__navigation {
  background-color: #333333;
  font-weight: 400;
  font-size: 28px;
  line-height: 26px;
  position: absolute;
  right: 20px;
  top: 100px;

  @media (min-width: $tablet-bp) {
    grid-area: nav;
    position: static;
    background-color: transparent;
    font-weight: 700;
    font-size: 2vw;
    line-height: 2vw;
    align-items: center;
    color: #8D81AC;
  }
  @media (min-width: $desktop-bp) {
    padding-top: 30px;
    font-size: 1.5vw;
    line-height: 2vw;
  }

  ul {
    list-style: none;
    width: 292px;
    height: 355px;
    text-align: left;
    @media (min-width: $tablet-bp) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 2vw;
      height: 30px;
    }
    @media (min-width: $desktop-bp) {
      width: 100%;
    }
  }
}
li {
  height: 38px;
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: solid 2px gray;
  @media (min-width: $tablet-bp) {
    border: none;
  }
  &:hover {
    border-left: solid 8px #8D81AC;
    @media (min-width: $tablet-bp) {
      color: white;
      border: none;
    }
} }
.header__navigation-link {
  text-decoration: none;
  padding: 1vw;
  color: #f4f4f4;
  margin-left: 35px;
  &:hover {
    color: $main-color;
    @media (min-width: $tablet-bp) {
      color: white;
    } }
  @media (min-width: $tablet-bp) {
    color: $main-color;
  }

}

.title {
  font-weight: 700;
  font-size: 10vw;
  line-height: 10vw;
}
.hidden {
    display: none;
    @media (min-width: $tablet-bp) {
      display: grid;

    }
  }

.hide {
    @media (min-width: $tablet-bp) {
      display: none;
    }
  }










