.hero-section {
  @media (min-width: $desktop-bp) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.hero-section__title {
  padding-top: 170px;
  padding-bottom: 20px;
  font-size: 15vw;

  @media (min-width: $tablet-bp) {
    padding-top: 160px;
    font-size: 11vw;
  }
  @media (min-width: $desktop-bp) {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 8vw;
  }
}

.hero-section__slogan {
  font-weight: 200;
  font-size: 4vw;
  line-height: 3.5vw;
  width: 270px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  color: $main-color;
  @media (min-width: $tablet-bp) {
    width: 80%;
    font-size: 2.5vw;
    line-height: 3.5vw;
    padding-bottom: 5px;
  }
}

.hero-section__text {
  font-weight: 200;
  font-size: 3vw;
  line-height: 2vw;
  color: #848E97;
  @media (min-width: $tablet-bp) {
    font-size: 2vw;
  }
}