.here-is-what-you-get {
  @media (min-width: $desktop-bp) {
      width: 100%;
    display: grid;
    align-items: center;
    background-color: $bg-color-hero-section;
    grid-template-areas: "wrapper title"
                          "wrapper img"
                          "wrapper .";
    padding-bottom: 30px;
  }
}

.here-is-what-you-get__title {
  color: $main-color;
  font-weight: 700;
  font-size: 10vw;
  line-height: 10.2vw;
  width: 230px;
  padding-top: 120px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $tablet-bp) {
    font-size: 7vw;
    line-height: 7vw;
    width: 80%;
  }
  @media (min-width: $desktop-bp) {
    grid-area: title;
    font-size: 4vw;
    line-height: 4vw;
    width: 100%;
  }
}
.here-is-what-you-get__description {
  grid-area: wrapper;
}
.here-is-what-you-get__description-item {
  padding-top: 40px;


  img {
    grid-area: img;
    @media (min-width: $tablet-bp) {
      padding: 35px;
      min-width: 111px;
    }
  }

  @media (min-width: $tablet-bp) {
    display: grid;
    grid-template-areas: "img title"
                         "img text";

  }
}

.here-is-what-you-get__description-item-title {
  padding-top: 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  grid-area: title;
  @media (min-width: $tablet-bp) {
    text-align: start;
    line-height: 2vw;
    width: 80%;
  }
}

.here-is-what-you-get__description-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #848E97;
  padding-top: 14px;
  width: 268px;
  margin-right: auto;
  margin-left: auto;
  grid-area: text;
  @media (min-width: $tablet-bp) {
    text-align: start;
    width: 95%;
  }
}

.here-is-what-you-get__img {
  margin-top: 64px;
  clear: both;
  grid-area: img;
  @media (min-width: $tablet-bp) {
    margin-left: 15%;

  }
  @media (min-width: $desktop-bp) {
    margin: 0;
    width: 608px;
    height: 418px;
  }
}