.pricing {
  background-color: #4b3b4e;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 70px;

  @media (min-width: $tablet-bp) {
    background-image: url("../../../img/bg/Layer 2.png");
  }

  &:before {
    content: '';
    display: block;
    width: 245px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #645766;
    @media (min-width: $tablet-bp) {
      width: 90%;
      height: 2px;
    }
  }
}

.pricing_items-wrapper {
  padding-top: 39px;
  @media (min-width: $tablet-bp) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  @media (min-width: $desktop-bp) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pricing_item {
  width: 257px;
  height: 457px;
  background-color: rgb(255, 255, 255, 0.11);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  @media (min-width: $tablet-bp) {
    width: 75%;
    height: 55vw;
  }

  &:nth-child(4) {
    @media (min-width: $tablet-bp) {
      margin-top: 40px;
    }
  }

  h5 {
    width: 257px;
    height: 61px;
    text-align: center;
    font-weight: 400;
    font-size: 7vw;
    line-height: 2vw;
    padding-top: 36px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255, 0.06);
    @media (min-width: $tablet-bp) {
      width: 100%;
      height: 10%;
      font-size: 3vw;
      padding-top: 26px;
    }
    @media (min-width: $desktop-bp) {
      font-size: 2vw;
    }
  }

  span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
  }
}

.pricing_item--big {
  background-color: #463048;
  width: 299px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  @media (min-width: $tablet-bp) {
    width: 95%;
    height: 70vw;
  }

  h5 {
    width: 299px;
    height: 68px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    padding-top: 43px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255, 0.06);
    @media (min-width: $tablet-bp) {
      width: 100%;
      height: 10%;
      font-size: 4vw;
      line-height: 3vw;
    }
    @media (min-width: $desktop-bp) {
      font-size: 2vw;
    }
  }

  span {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
  }
}

.pricing_item-price---big {
  font-size: 82px;
  line-height: 84px;
  padding: 14px;
}

.pricing_item-text--big {
  font-size: 16px;
  line-height: 32px;
}

.pricing_item-price {
  font-size: 60px;
  line-height: 62px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 400;
  @media (min-width: $tablet-bp) {
    font-size: 10vw;
    padding-top: 10px;
    padding-bottom: 2vw;
  }
  @media (min-width: $desktop-bp) {
    font-size: 6vw;
    font-weight: 500;
    padding-top: 30px;

  }
}

.pricing_item-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 100;
  padding-top: 30px;
  height: 75px;
  width: 170px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $tablet-bp) {
    font-size: 2vw;
    line-height: 2vw;
    height: 25%;
    width: 90%;
    padding-top: 10px;
  }
  @media (min-width: $desktop-bp) {
    font-size: 18px;
    padding-top: 50px;
  }

  &:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background: #8D81AC;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $tablet-bp) {
      margin-bottom: 10px;
    }
  }
}
