.talking-about-fork {
  background-color: #4b3b4e;
  background-image: url("../../../../dist/img/bg/testmonials-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 1200px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $desktop-bp) {
    padding-bottom: 70px;
    width: 100%;
  }
}

.talking-about-fork-title {
  font-weight: 700;
  font-size: 9vw;
  line-height: 11vw;
  width: 320px;
  padding-top: 57px;
  padding-bottom: 9px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $tablet-bp) {
    width: 90%;
    font-size: 42px;
    line-height: 44px;
  }
}

.talking-about-fork__wrapper {
  width: 100%;
  @media (min-width: $tablet-bp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.talking-about-fork__item {

  &:nth-child(4) {
    padding-top: 40px;
  }

  img {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  p {
    font-style: italic;
    font-weight: 300;
    font-size: 4vw;
    line-height: 5vw;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $tablet-bp) {
      width: 80%;
      font-size: 3vw;
      line-height: 4vw;

    }
  }
}

.talking-about-fork__text {
  font-weight: 400;
  font-size: 4vw;
  line-height: 5vw;
  color: #A291A5;
  width: 251px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 37px;
  padding-bottom: 22px;
  @media (min-width: $tablet-bp) {
    width: 90%;
    font-size: 2vw;
    line-height: 3vw;
  }
}
