@import 'src/styles/scss/abstracts/_variables.scss';

.header {
  height: 83px;
  display: flex;
  justify-content: right;
  @media (min-width: $tablet-bp) {
    height: 106px;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: $desktop-bp) {
    height: 115px;
  }
}

.header__menu {
  background: black;
  width: 44px;
  height: 37px;
  margin: 22px;
  @media (min-width: $tablet-bp) {
    display: none;
  }
}
.header__menu-cross {
  width: 44px;
  height: 37px;
  margin: 22px;
  @media (min-width: $tablet-bp) {
    display: none;
  }
}
.invisible {
  display: none;
}
.hide {
  display: none;
  @media (min-width: $tablet-bp) {
    display: block;
  }
}
.btn {
  background-color: transparent;
  border: none;
}

.header__nav {
  background-color: #F5F5F5;
  height: 208px;
  margin-top: 60px;
  position: relative;
  left:66px;
  @media (min-width: $tablet-bp) {
    background-color: transparent;
    margin: 0;
    width: 511px;
    height: 65px;
    padding-top: 41px;
    left: 0;
  }
  @media (min-width: $desktop-bp) {
    width: 715px;
  }

  ul {
    list-style-type: none;
    width: 172px;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 10px;
    @media (min-width: $tablet-bp) {
      width: 511px;
      height: 65px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
    @media (min-width: $desktop-bp) {
      width: 715px;
    }
  }
}

.header__nav-item {
  width: 182px;
  height: 18px;
  padding-top: 10px;
  a {
    letter-spacing: 1.1px;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    color: $main-color;

    &:hover {
      color: $active-color;
    }
  }
}


