main {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $tablet-bp) {
    width: $tablet-bp;
  }
  @media (min-width: $desktop-bp) {
    width: $desktop-bp;
  }
}

.main__foto {
  display: block;
  width: 320px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $tablet-bp) {
    width: 768px;
    height: 361px;
  }
  @media (min-width: $desktop-bp) {
    width: 1170px;
    height: 550px;
  }
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 38px;
  @media (min-width: $tablet-bp) {
    font-size: 16px;
  }
  @media (min-width: $desktop-bp) {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}
.main__image-wrapper {
  @media (min-width: $desktop-bp) {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main__image-wrapper-item {
  @media (min-width: $tablet-bp) {
    display: flex;
    div {
      margin-left: 21px;
    }
  }
}

.main__image-wrapper-item-image {
  margin-top: 29px;
}

.main__image-wrapper-item-title {
  margin-top: 29px;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
}

.main__image-wrapper-item-comment {
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #7C7C7C;
}

.main__image-wrapper-item-text {
  display: none;
  width: 404px;
  height: 40px;
  @media (min-width: $tablet-bp) {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }
}

.hidden {
  display: none;
  @media (min-width: $tablet-bp) {
    display: flex;
  }
}

.hidden-desktop {
  display: none;
  @media (min-width: $desktop-bp) {
    display: flex;
  }
}

.shots {
  margin-top: 69px;
  width: 100%;
  @media (min-width: $tablet-bp) {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.shots__main-block {
  display: flex;
  justify-content: space-between;
  @media (min-width: $tablet-bp) {
    width: $tablet-bp;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $desktop-bp) {
    width: 1170px;
  }
}

.shots__title-comment {
  font-size: 13px;
}

.shots__shots-wrapper {
  display: flex;
  justify-content: space-between;
  @media (min-width: $tablet-bp) {
    width: $tablet-bp;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $desktop-bp) {
    width: $desktop-bp;
  }
}

.shots__shots-wrapper-item {
  width: 301px;
  height: 301px;
  margin: 13px auto 42px auto;
  @media (min-width: $tablet-bp) {
    width: 250px;
    height: 249px;
  }

}