html {
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
}
body {
    background-color: #3A4965;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table {
    width: 1140px;
    height: 680px;
    border-collapse: collapse;
    background-color: #FAFAFA;
    color: #484848;
    font-family: 'Arimo' sans-serif;
    text-transform: uppercase;
    border: 3px solid #DDDDDD;
    text-align: center;
}
.col1 {
    width: 310px;
}
.item {
    margin-top: 60px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.item2 {
    margin-bottom: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}
.title1 {
    font-size: 24px;
    height: 73px;
    color: #FFFFFF;
    background-color: #89C331;
}
.title2 {
    font-size: 30px;
    color: #FFFFFF;
    background-color: #F04A56;
}
.title3 {
    font-size: 24px;
    color: #FFFFFF;
    background-color: #20807C;
}
.price {
    display: flex;
    align-items: start;
    margin-top: 26px;
    font-weight: 700;
    font-size: 60px;
}
.price2 {
    font-weight: 700;
    font-size: 24px;
}
.pr {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    margin-top: 22px;
}
.storage, .email, .product {
    background-color: #F2F2F2;
}
.bandwidth, .support, .users {
    background-color: #E3E3E3;
}
.btn_box1{
    background-color: #DDDDDD;
}
.btn_box {
    width: 280px;
    height: 109px;
}
button{
    width: 195px;
    height: 54px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.btn1 {
    background: #484848;
}
.btn2   {
    background-color: #89C331;
    margin-top: 28px;
}
.btn3  {
    background-color: #89C331;
    margin-top: 28px;
}
.btn4 {
    background-color: #20807C;
    margin-top: 28px;
}


